.RegisterBody {
    display: flex;
    width: 100%;
    justify-content: center;
}

.WrapperR {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
}

.WrapperR input, select{
    height: 40px;
    outline: none;
    padding-left: 10px;
}

.RegisterPop {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    /* z-index: 9999; */
    background: #d9d9d9bd;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 350ms ease-in;
}

.PopCard {
    margin-top: 10%;
    width: 35%;
    height: 50%;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    animation:rollIn;
    animation-duration: 1s;
    padding: 10px;
}

.ClosePop {
    width: 100%;
    height: 40px;   
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: red;
    /* padding: 10px; */
}

.ClosePop span {
    cursor: pointer;
    transition: all 350ms ease;
    transform: scale(1);
}

.ClosePop span:hover{
    transform: scale(1.09);
    box-shadow: rgba(175, 175, 177, 0.053) 0px 7px 29px 0px;
    background-color: transparent;
}

.ImgBox {
    min-width: 130px;
    height: 130px;
    background: #000;
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    object-fit: cover;
}

.ImgBox img {
    width: 100%;
    height: 100%;
}

.ImgDiv {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}